.product {
  background-color: white;
  border-radius: 20px;
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;
}
.description {
  width: 319px;
  height: 91px;
  padding: 0 36px 0 45px;
  outline: none;
  border: none;
}
.product textarea {
  resize: none;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font);
  overflow: auto;
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: #6c757d #f1f1f1;
  background-color: white;
}
.title {
  padding: 30px 0 0 45px;
  font-size: 20px;
  width: 319px;
  box-sizing: border-box;
  overflow: hidden;
}
.valueDescription {
  font-size: 20px;
  padding-left: 45px;
}
.price {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  gap: 18px;
}
.price b {
  font-size: 20px;
}
.price p {
  font-size: 18px;
  font-weight: 400;
}
.product-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 36px 32px 45px;
}
.reit {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  gap: 18px;
}
.reit b {
  font-size: 20px;
}
.reit p {
  font-size: 18px;
  font-weight: 400;
}

.button_product {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  width: 250px;
}
/* RolesData.module.css */
.project-selector {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
}

.project-selector label {
  margin-right: 10px;
  font-weight: bold;
}

.project-selector select {
  padding: 5px;
  border: 1px solid #ccc;
  width: 200px;
  outline: none;
  padding: 0.5rem;
  border-radius: 20px;
  font-family: var(--font);
  font-size: medium;
  font-weight: 600;
}
.rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 0;
}

.rating p {
  font-size: large;
  font-weight: bold;
  font-family: var(--font);
}

.rating span {
  font-size: 25px;
  color: rgb(227, 227, 4);
}
