.footer {
  background-color: white;
  margin-top: 100px;
  padding: 20px 0;
}

.footer_top {
  border: 1px solid #ececff;
  padding: 44px 22px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.footer_text {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_text a {
  color: black;
  cursor: pointer;
}
.footer_bottom {
  border: 1px solid #ececff;
  border-radius: 20px;
  margin-top: 24px;
  padding: 20px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}

.button_help {
  background: white;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  border-radius: 30px;
  padding: 17px 29px;
  font-family: var(--font);
  font-size: 14px;
  cursor: pointer;
}

.button_help:hover {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}
.modal_main {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.modal_secondary {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20vw;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form p {
  font-size: 16px;
}
.stars {
  display: flex;
  gap: 15px;
  font-size: 30px;
  cursor: pointer;
}

.star {
  color: #ccc;
  transition: color 0.2s;
}

.starFilled {
  color: #f5b301;
  transition: color 0.2s;
}

.submitBtn {
  background-color: #000;
  color: white;
  width: 20vw;
}

.submitBtn:hover {
  background-color: #292929;
}
.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.feature {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  margin-bottom: 16px;
}

.step {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #444497;
  color: white;
  font-size: 14px;
  flex-shrink: 0;
}

.block {
  padding: 16px;
  border-bottom: 1px solid #eee;
  align-items: start;
}

.block:last-child {
  border-bottom: none;
}

.block h4 {
  margin: 0 0 4px 0;
  font-size: 16px;
}

.block p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
