.sort{
    background-color: white;
    padding:0 22px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 15px;
    font-size: 16px;
    max-width: 240px;
}

.sort p{
    color: var(--primary-color);
}