.main {
  padding: 20px;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.field label {
  font-weight: bold;
  color: #333;
}
.field textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.field input {
  box-sizing: border-box;
  border: 1px solid #dbdbdb;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  width: 250px;
  font-family: var(--secondary-font);
  font-weight: 500;
}

.field textarea {
  border: 1px solid #dbdbdb;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  height: 150px;
  font-family: var(--secondary-font);
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.textareas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
