.profile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 1rem 2rem;
}

.profile_info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  margin-bottom: 30px;
}

.profile_info label {
  font-weight: bold;
}

.profile_info p,
.profile_info ul {
  margin: 0;
}

.profile_info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile_info ul li {
  background: #f9f9f9;
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
}

.profile img {
  border-radius: 100%;
  margin: auto;
  display: flex;
  width: 100px;
  height: 100px;
}

.profile_button {
  background-color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: white;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.profile_button:hover {
  background-color: #333;
}
.modal_main {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  z-index: 50;
  overflow: scroll;
}
.modal_secondary {
  background-color: white;
  padding: 24px;
  border-radius: 30px;
  position: relative;
  max-height: 80vh;
  overflow-y: scroll;
}
