.main {
  width: 100vw;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.error {
  margin-top: 40px;
  font-size: medium;
  font-weight: 600;
}
